sl-button.main {
  &::part(base) {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;

    border-radius: 0px;

    background-color: #fff;
    border-color: #fff;
  }
}

sl-button.main[size="small"]::part(base) {
  font-size: 1rem;
}

sl-button.main[size="large"]::part(base) {
  font-size: 2rem;
}

sl-button.main::part(base) {
  color: #000;
}

sl-button.main[outline]::part(base) {
  background-color: transparent;
  color: #fff;

  transition: all 0.1s ease;

  &:hover {
    background-color: #fff;
    color: #000;

    transition: all 0.1s ease;
  }
}




sl-button.success {
  &::part(base) {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;

    border-radius: 2px;

    background-color: #299620;
    border-color: #07c40e;
    color: #fff;
  }
}

sl-button.success[size="small"]::part(base) {
  font-size: 1rem;
}

sl-button.success[size="large"]::part(base) {
  font-size: 2rem;
}

sl-button.success[outline]::part(base) {
  background-color: transparent;
  color: #fff;

  transition: all 0.1s ease;

  &:hover {
    background-color: #2a9620bf;
    // color: #000;

    transition: all 0.1s ease;
  }
}



sl-button.notched {
  &::part(base) {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;

    padding: 4px 10px 3px 10px;

    border-radius: 0px;
    background-color: #5660683b;
    border-color: transparent;
    text-transform: none;
    border: solid 1px transparent;

    justify-content: flex-start;
    align-items: center;

    &:hover {
      background-color: rgba(107, 116, 122, 0.231);
    }
  }
}

sl-button.notched[size="small"]::part(base) {
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 1.2rem;
}

sl-button.notched[size="large"]::part(base) {
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 2.2rem;
}

sl-button.notched::part(base) {
  color: #fff;
}

sl-button.notched::part(suffix) {
  margin-left: auto;
}

sl-button.notched[outline]::part(base) {
  background-color: transparent;
  color: #fff;

  transition: all 0.1s ease;

  &:hover {
    background-color: #fff;
    color: #000;

    transition: all 0.1s ease;
  }
}
